@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

h1{
    background-color: rgba(64, 1, 1, 1);
    color: white;
    text-align: center;
    margin: 0px;
    padding:15px;
}

p{
    margin-right: 60px;
}
#menu{
    margin: 0px;
    padding: 10px 0px 10px 220px;
    background-color: rgba(255, 223, 200, 1);
}

#menu > li{
    list-style: none;    
    padding: 10px 0px 10px 70px;
    display: inline;
}

#menu a{
    text-decoration: none;
    color: black;
}

#pesqid{
    position: absolute;
    border-radius: 50px;
    border: solid 1px rgba(64, 1, 1, 1);
    top: 80px;
    left: 1100px;
}

#login{
    position: absolute;
    left: 1290px;
    top: 75px;
    width: 40px;
}

#lupa{
    position: absolute;
    left: 1250px;
    top: 83px;
    width: 20px;
}

h2{
    font-family: 'Jaldi', sans-serif;
    margin-left: 60px;
    color: #DC944C;
    font-size: xx-large;
    text-shadow: 
    -1px -1px 0px rgba(164, 4, 4, 1), 
    -1px 1px 0px rgba(164, 4, 4, 1),      
     1px -1px 0px rgba(164, 4, 4, 1),    
     1px 0px 0px rgba(164, 4, 4, 1);
}

p{
    margin-left: 60px;
}


span{
    font-weight: bold;
}

#sonda li{
    margin-left: 60px;
}

#sonda-img{
    position: absolute;
    left:800px;
    top: 250px;
    width: 500px;
}

#sonda{
    margin-bottom: 100px;
}

#sonda p{
    width: 700px;
}


#delícia li{
    margin-left: 60px;
}

#delícia-img{
    position: absolute;
    left:800px;
    top: 725px;
    width: 500px;
}

#delícia{
    margin-bottom: 100px;
}

#delícia p{
    width: 700px;
}

#lojas li{
    margin-left: 60px;
}

#lojas-img{
    position: absolute;
    left:800px;
    top: 1250px;
    width: 500px;
}

#lojas{
    margin-bottom: 100px;
}

#lojas p{
    width: 700px;
}

#pet li{
    margin-left: 60px;
}

#pet-img{
    position: absolute;
    left:800px;
    top: 1750px;
    width: 500px;
}

#pet{
    margin-bottom: 100px;
}

#pet p{
    width: 700px;
}

#omega li{
    margin-left: 60px;
}

#omega-img{
    position: absolute;
    left:800px;
    top: 2150px;
    width: 500px;
}

#omega{
    margin-bottom: 100px;
}

#omega p{
    width: 700px;
}

#swift li{
    margin-left: 60px;
}

#swift-img{
    position: absolute;
    left:800px;
    top: 2650px;
    width: 500px;
}

#swift{
    margin-bottom: 100px;
}

#swift p{
    width: 700px;
}

#violeta li{
    margin-left: 60px;
}

#violeta-img{
    position: absolute;
    left:700px;
    top: 3100px;
    width: 600px;
}

#violeta{
    margin-bottom: 100px;
}

#violeta p{
    width: 700px;
}

/*Footer*/
footer{
    background-color: rgba(64, 1, 1, 1);
    margin-bottom: 0px;
    padding: 30px 0px 50px 0px;
    margin-top: 120px;
}

footer img{
    margin-left: 60px;
    margin-top: 20px;
}

footer p{
    margin-left: 60px;
    color: white;
    font-weight: bolder;
}

#gobe{
    text-align: end;
    font-size: x-large;
    width: 500px;
    color: white;
    position: absolute;
    left: 800px;
    top: 3650px;
}

hr{
    width: 20%;
    position: absolute;
    left: 1025px;
    top: 3720px;
}

#gobe2{
    position: absolute;
    left: 1060px;
    top: 3750px;
    font-weight: 500;
    font-style: italic;
}


